.vscode/
.github/
build/
Camera/
logs/
assets/img_with_q/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
kernel.errors.txt
CMakeFiles/CMakeSystem.cmake
log/COLCON_IGNORE
log/latest
log/latest_build
log/build_2026-03-01_11-52-14/events.log
log/build_2026-03-01_11-52-14/logger_all.log
log/build_2026-03-01_12-01-22/events.log
log/build_2026-03-01_12-01-22/logger_all.log
install/_local_setup_util_ps1.py
install/_local_setup_util_sh.py
install/.colcon_install_layout
install/COLCON_IGNORE
install/local_setup.bash
install/local_setup.ps1
install/local_setup.sh
install/local_setup.zsh
install/setup.bash
install/setup.ps1
install/setup.sh
install/setup.zsh
CLAUDE.md
docs/

# 视频文件
*.mp4
*.avi
*.mkv

# TensorRT模型
*.engine
